@model TfsOverviewModel
@{
	ViewBag.Title = "Index";
}
@using (Html.BeginForm("GetProject", "Tfs", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.DropDownListFor(model => model.ProjectId, Model.Projects)
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Go" class="btn btn-default" />
		</div>
	</div>
}