<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ApplicationInsights" version="0.13.2-build00132" targetFramework="net451" />
  <package id="Microsoft.ApplicationInsights.PerformanceCollector" version="0.13.2-build00132" targetFramework="net451" />
  <package id="Microsoft.ApplicationInsights.RuntimeTelemetry" version="0.13.2-build00132" targetFramework="net451" />
  <package id="Microsoft.ApplicationInsights.Web" version="0.13.2-build00132" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc.FixedDisplayModes" version="5.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.HelpPage" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.OData" version="5.4.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net451" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net451" />
  <package id="Microsoft.Data.Edm" version="5.6.3" targetFramework="net451" />
  <package id="Microsoft.Data.OData" version="5.6.3" targetFramework="net451" />
  <package id="Microsoft.Diagnostics.Instrumentation.Extensions.Intercept" version="0.13.0-build22724" targetFramework="net451" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.14-beta" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="MiniProfiler" version="3.1.1.140" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="nuget-bot.Microsoft.TeamFoundation.Client" version="12.0.21005.3" targetFramework="net451" />
  <package id="nuget-bot.Microsoft.TeamFoundation.Common" version="12.0.30501.1" targetFramework="net451" />
  <package id="nuget-bot.Microsoft.TeamFoundation.Diff" version="12.0.30501.1" targetFramework="net451" />
  <package id="nuget-bot.Microsoft.TeamFoundation.ProjectManagement" version="12.0.21005.1" targetFramework="net451" />
  <package id="nuget-bot.Microsoft.TeamFoundation.WorkItemTracking.Client" version="12.0.30501.0" targetFramework="net451" />
  <package id="nuget-bot.Microsoft.VisualStudio.Services.Client" version="12.0.21005.1" targetFramework="net451" />
  <package id="nuget-bot.Microsoft.VisualStudio.Services.Common" version="12.0.21005.1" targetFramework="net451" />
  <package id="nuget-bot.Microsoft.VisualStudio.Services.WebApi" version="12.0.21005.1" targetFramework="net451" />
  <package id="System.Spatial" version="5.6.3" targetFramework="net451" />
</packages>